.table-receipt {
  width: 100%;
  position: relative;

  thead tr th {
    font-weight: 500;
    text-align: center;
    background: linear-gradient(180deg, #00aaea 0%, #0070bc 100%);

    color: white;
    padding: 20px;
  }
  th,
  td {
    padding: 8px;
    overflow-wrap: break-word;
    background-color: #fafafa;
    text-align: center;
  }
  td {
    padding: 10px 0px;
  }
  th:first-of-type {
    border-top-left-radius: 8px;
  }
  th:last-of-type {
    border-top-right-radius: 8px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
  }
}
.action-main {
  display: flex;
  position: absolute;
  top: 0;
  left: -200px;
  flex-direction: column;
  gap: 14px;
  background-color: white;
  border-radius: 8px;
  padding: 14px 20px;
  width: 200px;
  color: #000000b2;
}
.action {
  position: relative;
  cursor: pointer;
}
.profile-container {
  background-color: #ffffff;
  width: 280px;
  padding: 20px 14px;
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 10px;
  z-index: 999;
}
