.program-button {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 2px solid #0070bc;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  p {
    font-weight: 600;
    font-size: 18px;
  }
}
.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 16px 20px;
}
.filter-body {
  height: 80vh;
  overflow: auto;
}
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.button4 {
  border: 1px solid #fd575b;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 600;
  color: #fd575b;
}

.button2 {
  color: white;
  background: linear-gradient(180deg, #fea82f 0%, #fd575b 100%);
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 600;
}
.input-loyalty {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 gray, 0 6px 10px 0 white;
  background-color: rgba(240, 237, 237, 0.2);
  color: #000000b2;
  width: 100%;
}
.search {
  background-color: transparent;
  border: none;
}
.loyalty-form-header {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}
.loyalty-form-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px 14px;
}
.input-loyalty2 {
  background-color: transparent;
  border: 1px solid #8f8f8f;
  width: 100%;
  border-radius: 8px;
  color: #12121280;
}
.loyalty-button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 16px 0px;
}
.loyalty-button1 {
  color: white;
  background: linear-gradient(180deg, #fea82f 0%, #fd575b 100%);
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  width: 250px;
  font-weight: 600;
}
.loyalty-button2 {
  width: 150px;
  color: black;
  background: transparent;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: 600;
}
.alert2 {
  background-color: #0070bc;
  color: white;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
}
.upload-file {
  background: linear-gradient(180deg, #00aaea 0%, #0070bc 100%);
  color: white;
  padding: 8px 40px;
  border-radius: 6px;
}
.filterbutton-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  
  .button1,
  .button2 {
    border: 1px solid black;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 600;
  }
  .button2 {
    color: white;
    background: linear-gradient(180deg, #fea82f 0%, #fd575b 100%);
    border: none;
  }
}